.product{
    grid-area: product;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    
}
.product__price{
    height: 50px;
    width: 200px;
    font-size: 2rem;
    color: #76045D;
    background-color: white;
    display: grid;
    place-items: center;
    font-weight: 700;
    
}
.product__navegation-container{
    display: flex;
}